.card-body{
    padding: 5px;
    margin: 15px;
    margin-top: 15px;
    background-color: lightblue;
    
}
.card-body:hover .addToCartBtn{
    transform: scale(1.2);
}
.card-body img{
    margin: auto;
    height: 250px;
}

.addToCartBtn{
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    border-radius: 10px;
    
    transition: all 2s;
}
.fee{
    color: tomato;
    font-weight: 800;
}
.singer-name{
    font-weight: 700;
}